# Augmentation avec le Caushalathon 2021

In [1]:
import pandas as pd
df = pd.read_csv("./graph_3_years/hal_depot_2019_2021.csv", index_col = "year-month")
df[:12]

            notice   file
year-month
2019-1       20672   8548
2019-2       23782  20735
2019-3       19029   8517
2019-4       16629   8638
2019-5       16164   7474
2019-6       12770   7422
2019-7       32372   7605
2019-8       38783   4247
2019-9       15138   7057
2019-10      21618   9757
2019-11      24937  11201
2019-12      20491  10601

In [2]:
# comparer l'évol de 2021 avec 2020
df["file_evol_from_last_year"] = df["file"].pct_change(periods = 12) * 100
df[24:32]

            notice   file  file_evol_from_last_year
year-month
2021-1       16153  13535                 34.102844
2021-2       14447   9863                 -7.744832
2021-3       17504  11698                 17.556025
2021-4       13561   9935                  5.021142
2021-5       13353  12439                -56.523715
2021-6       14631  13018                -65.263102
2021-7       24251   8516                  6.823884
2021-8       11232   6055                 12.025902

In [3]:
# calculer l'augmetation moyenne de 2021 par rapport à 2020
# mois à retirer à cause des automates : mai, juin, sept-dec

In [4]:
include_month = ["2021-1", "2021-3", "2021-4", "2021-7", "2021-8"]
df2021 = df[ df.index.isin(include_month)]
aug_moy_2021 = df2021["file_evol_from_last_year"].mean()
# augmentation de 2021 par rapport à 2020
aug_moy_2021

15.105959051871224

In [5]:
# du fait de la migration de prodinra on ne peut comparer juin 2020 et juin 2021
# il faut filtrer sur les constributeurs
# à faire directement dans l'API de HAL 
# date des données obtenues ci après 2021-09-05

In [6]:
# nb dépôts avec fichier durant période casuhalathon year - 1
# https://api.archives-ouvertes.fr/search/?&rows=0&fq=submittedDate_tdate:[2020-05-24T00:00:00Z%20TO%202020-06-12T00:00:00Z]&fq=submitType_s:file
# = 50039
# retrait de "Migration Prodinra" contributorId_i:888556 et "Archive Ouverte Prodinra" contributorId_i:132775
# s'aider de https://api.archives-ouvertes.fr/search/?&rows=0&fq=submittedDate_tdate:[2020-05-24T00:00:00Z%20TO%202020-06-12T00:00:00Z]&facet=true&facet.field=contributorId_i
# https://api.archives-ouvertes.fr/search/?&rows=0&fq=submittedDate_tdate:[2020-05-24T00:00:00Z%20TO%202020-06-12T00:00:00Z]&fq=submitType_s:file&fq=-contributorId_i:(888556 OR 132775)
# = 8116 
casuhalathon_2020_file = 8116

In [7]:
# nb dépôts avec fichier durant casuhalathon 2021
# https://api.archives-ouvertes.fr/search/?&rows=0&fq=submittedDate_tdate:[2021-05-24T00:00:00Z%20TO%202021-06-12T00:00:00Z]&fq=submitType_s:file&fq=-contributorId_i:(888556%20OR%20132775)
casuhalathon_2021_file = 11889

In [8]:
(casuhalathon_2021_file - casuhalathon_2020_file)/casuhalathon_2020_file * 100

46.48841793987186

---

## Augmentation avec le CRAC de 2020

In [9]:
import pandas as pd 
df = pd.read_csv("./graph_3_years/hal_depot_2018_2020.csv")
df

   year-month  notice   file
0      2018-1   12228   7557
1      2018-2   11657   6566
2      2018-3   18070  13402
3      2018-4   13640   7910
4      2018-5   12009   6572
5      2018-6   10767   7831
6      2018-7   12711   7758
7      2018-8    6221   5354
8      2018-9    8575   6751
9     2018-10   12534   8676
10    2018-11   16320   8570
11    2018-12   13944   7403
12     2019-1   20672   8548
13     2019-2   23782  20735
14     2019-3   19029   8517
15     2019-4   16629   8638
16     2019-5   16164   7474
17     2019-6   12770   7422
18     2019-7   32372   7605
19     2019-8   38783   4247
20     2019-9   15138   7057
21    2019-10   21618   9757
22    2019-11   24937  11201
23    2019-12   20491  10601
24     2020-1   21450  10093
25     2020-2   16788  10691
26     2020-3   17587   9951
27     2020-4   18754   9460
28     2020-5   83623  28611
29     2020-6  152623  37476
30     2020-7   11016   7972
31     2020-8    7149   5405
32     2020-9   13244   9258
33    2020-10   15021  10339
34    2020-11   18659  18264
35    2020-12   35860  15378

In [15]:
# comparer l'évol de 2020 par rapport à 2019
df["file_evol_from_last_year"] = df["file"].pct_change(periods = 12) * 100
df[24:36]

   year-month  notice   file  file_evol_from_last_year
24     2020-1   21450  10093                 18.074403
25     2020-2   16788  10691                -48.439836
26     2020-3   17587   9951                 16.836914
27     2020-4   18754   9460                  9.516092
28     2020-5   83623  28611                282.807064
29     2020-6  152623  37476                404.931285
30     2020-7   11016   7972                  4.825773
31     2020-8    7149   5405                 27.266306
32     2020-9   13244   9258                 31.188890
33    2020-10   15021  10339                  5.964948
34    2020-11   18659  18264                 63.056870
35    2020-12   35860  15378                 45.061787

In [11]:
# calculer l'augmentatino moyenne des dépôt pour 2020
## attention : retirer tous les mois où des versements auto sont présents (prodinra)
# mois à inclure janvier, mars, avril, juillet, aout, sept, oct, nov, dec, 
include_month = ["2020-1", "2020-3", "2020-4", "2020-7", "2020-8", "2020-9", "2020-10", "2020-11", "2020-12"]
df_2020 = df[ df["year-month"].isin(include_month)]
aug_moy_2020 = df_2020["file_evol_from_last_year"].mean()
aug_moy_2020

24.64355365122801

In [12]:
print("augmentation moyenne de 2020 par rapport a 2019 pour les dépôts de fichier", round(aug_moy_2020), "%")

augmentation moyenne de 2020 par rapport a 2019 pour les dépôts de fichier 25 %

In [13]:
# calc de la moyenne de l'augmentation sur nov & dec
aug_2020_nov_dec = df.loc[ df["year-month"].isin(["2020-11", "2020-12"]), "file_evol_from_last_year"].mean()
aug_2020_nov_dec

54.059328273115895

In [14]:
print("augmentation moyenne de nov. 2020 comparé à nov.2019 pour les fihciers ", round(aug_2020_nov_dec), "%")

augmentation moyenne de nov. 2020 comparé à nov.2019 pour les fihciers  54 %